body {
  color: #40514E;
  margin-left: 0;
  background-color: #E4F9F5;
  text-align: center;
  font-family: serif;
}

a {
  color: #11999E;
}

a.hover {
  color: #EAF6F6;
}

h1 {
  color: blue;
  font-size: 5.625rem;
  margin-top: 0;
  margin: 0 auto;
  font-family: cursive;
}

h2 {
font-size: 50px;
font-size: 2.5em;
font-weight: normal;
padding-bottom: 10px;
}

h3 {
font-size: 30px;
font-family: cursive;
}

.footer-link {
  color: blue;
  font-size: 1rem;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  font-size: 40px;

}

.middle-container {
  margin-left: 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  color: green;
}

.pro {
  text-decoration: underline;
  background-color: yellow;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.percy-img {
  width: 100px;
  border: 2px solid blue;
  border-radius: 50%;
}

.welcome-to {
  color: red;
}

.co-icon {
  width: 200px;
  height: 200px;
}

.company-name {
  font-size: 50px;
  color: green;
}

.skill-row-first {
  width: 150px;
  border: 2px solid yellow;
}

.btn {
  background: #349fd9;
  background-image: -webkit-linear-gradient(top, #349fd9, #2c87b8);
  background-image: -moz-linear-gradient(top, #349fd9, #2c87b8);
  background-image: -ms-linear-gradient(top, #349fd9, #2c87b8);
  background-image: -o-linear-gradient(top, #349fd9, #2c87b8);
  background-image: linear-gradient(to bottom, #349fd9, #2c87b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc6f;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
}
